# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
env/

# Data 
data/raw/
data/processed/
data/external/
data/ready/

# Artifacts 
artifacts/models/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.cursor/

# Weights & Biases
wandb/